.primary {
  /*background-color: #CF1457;*/
  background-color: #f4511e;
}

.primary:hover {
  background-color: #ff7043;
}

.secondary {
  /*background--color: #2979FF;*/
  background--color: #2979FF;
}

.secondary:hover {
  /*background--color: #4979FF;*/
  background--color: #4979FF;
}

a {
  font-weight: bold;
  color: #f4511e;
}

a:hover{
  text-decoration:underline;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}
